@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap');
 
body {
scroll-behavior: smooth;
font-family: 'Epilogue';
width: 100%;
overflow-x: hidden;
    
} 

.nav {
display: flex;
justify-content: space-between;
position: absolute;
width: 20%;
height: 48px;
left: 80px;
top: 48px;

}
.nav img {
position: absolute;
top:48px;
right:40px ;
}
.nav button {
position: absolute;
width: 200px;
height: 48px;
left: 990px;
top: 48px;
color: black;
background-color:white ;
box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.0954201);
border-radius: 24px;
border: 1px none ;
}
.subsection1 {
position: absolute;
width: 200px;
height: 10px;
left: 100px;
top: 80px;
display: flex;
flex-direction: row;


}
.title p {
position: absolute;
display: flex;
font-weight: 100;
font-size: 18px;
line-height: 20px;
top:120px;
height: 20px;
color: #00252E;  
}
.subsection1 span {
position: absolute;
font-size: 7px;
display: flex;
top:200px;
line-height: 10px;
font-weight: 50px;
}
.buttons button {
position: absolute;
width: 200px;
height: 50px;
left: 50px;
top: 300px;
background: #FF52C1;
box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.166185);
border-radius: 28px;
color: white;
border: 1px none;

}
.image1 img {
position: absolute;
width: 570px;
height: 300px;
left:650px;
top: 100px; 

}
.section2 {
position: absolute;
display: flex;
flex-direction: column;
width: 90%;
height: 362px;
left: 104px;
top: 600px;
box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
border-radius: 16px; 
    
}
.topic p {
position: absolute;
height: 20px;
top: 50px;
font-weight: 400;
font-size: 13px;
line-height: 42px;
left:50px;
color: #00252E;
}
.submessage span {
position: absolute;
display:flex;
height: 5px;
top:160px;
font-weight: 5px;
line-height: 27px;
font-size: 15px;
left:50px;
color: #808E9A;
}

.image2 img {
position: absolute;
height: 300px;
font-weight: 900;
line-height: 40px;
left:600px;
width: 300px;
top: 50px;
left: 900px;
}
.section3 {
    
position: absolute;
display: flex;
flex-direction: column;
width: 90%;
height:362px;
justify-content: space-evenly;
top:1200px;
box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
border-radius: 16px;
left:90px;
}
.image3 img {
position: absolute;
left: 50px;
top:50px;
width:300px;
height:250px;
}
.title1 p {
position: absolute;
line-height: 7px;
font-size:18px;
left: 700px;
top:100px; ;
height: 5px;
font-weight: 600;
color: #00252E;


}
.section3 span {
position: absolute;
top:150px;
font-weight: 10;
font-size: 19px;
line-height: 25px;
color:#808E9A;
left:700px;
}
.section4 {
position: absolute;
width: 90%;
height: 440px;
left:104px;
top: 1750px;
background: #FFFFFF;
box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
border-radius: 16px;
}
.title2 p {
position: absolute;
height: 42px;
left:10%;
top:50px;
font-weight: 300;
font-size: 18px;
line-height: 26px;
color: #00252E;
    
}
.section4 span{
position: absolute;
height: 81px;
left: 100px;
font-weight: 60;
font-size: 18px;
line-height: 20px;
top:150px;
color: #808E9A;
width: 40%;

}
.image4 img{
position: absolute;
width: 300px;
height: 317.9px;
left: 700px;
top:20px;
background: url(Image.png);
left:800px;

}
.section5 {
position: absolute;
width: 40%;
height: 280px;
left: 350px;
top: 2450px;
background-color:white;
background: #FFFFFF;
box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.0710768);
border-radius: 15px;
     
}
.section5 p{
position: absolute;
height: 60px;
left: 16.%;
right: 15.88%;
font-weight: 600;
font-size: 28px;
line-height: 60px;
color: #00252E;

}
.section5 button {
position: absolute;
left: 190px;
top: 200px;
background: #FF52C1;
box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
border-radius: 40px;
width: 200px;
height: 50px;
border: 2px none;
color:white;
}

.section6 {  
position: absolute;
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
height: 418px;
left: -15px;
top: 2590px;
background: #00252E;
z-index: -1;
}

.footercontent {
position: absolute;
display: flex;
width: 900px;
height: 400px;
top:200px;

}
.huddle img {
position: absolute;
width: 100px;
height: 25px;

}
.huddle p {
position: absolute;
font-weight: 400;
font-size: 10px;
line-height: 18px;
top: 35px;
color: #FFFFFF;
}
.location {
position: absolute;
width: 24px;
height: 23.54px;
left: 0px;
top: 47px;
left: -45px;
}
.contact p {
position: absolute;
width: auto ;
height:20px ;
top:100px;
color:#FFFFFF;
}
.phoneicon img {
position: absolute;
width: 24px;
height: 23.54px;
top: 110px;
left: -45px;
}
.email span{
position: absolute;
width: 24px;
height: 18px;
top: 150px;
color:white;  
}
.email img {
position: absolute;
width: 20px;
height: 18px;
left: 0px;
top: 150px;
left: -45px;
}
.info {
position: absolute;
display: flex;
flex-direction:column;
left: 300px;
justify-content: space-evenly;
color: #FFFFFF;
top:55px;
}
.info span {
 top:-10px;
}
.message {
position: absolute;
display: flex;
flex-direction:column;
left: 500px;
justify-content: space-evenly;
color: #FFFFFF;
top:55px;  
}
.copyright {
position: absolute;
height: 80px;
top: 150px;
left:700px;
font-size: 8px;
display: flex;
flex-direction: row;
color: #FFFFFF;

}
.socialicons  {
position: absolute;
display: flex;
flex-direction: row;
top: 35px;
left: 700px;
justify-content: space-between;
background: #00252E;
}
.facebook img {
height: 30px;width: 30px;
border-radius: 50%;
left: 80px;
display: flex;
align-items: center;
border: 1px solid white;
background: #FFFFFF;

}
.instagram img {
height: 30px;
width: 30px;
border-radius: 50%;
left: 110px;
display: flex;
align-items: center;
color: #fff;
border: 1px solid white;
background: #FFFFFF;

}
.twitter img {
 height: 30px;
 width:30px;
 border-radius: 50%;
 left: 120px;
 display: flex;
 color: #fff;
 align-items: center;
 border: 1px solid white;
 background: #FFFFFF;

}

@media only screen and (max-width:375px){
    @import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap');
 
    body {
    scroll-behavior: smooth;
    font-family: 'Epilogue';
    width:375px;
    overflow-x: hidden;
        
    }
    .section1 {
     position: absolute;
     width: 375px;
     height: 553px;
     background: linear-gradient(127.67deg, rgba(255, 255, 255, 0.0001) -14.44%, #C9F0FF 109.93%);
    } 
    
    .nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 10%;
    height: 48px;
    left: 18px;
    top: 48px;
    }

    .nav img {
    position: absolute;
    top:48px;
    position: absolute;
    width: 104px;
    height: 16px;
    left:10px;
    top: 28px;
    background: url(Image);
    }
    .backgroundimage1 img {
     position: absolute;
     display: flex;
     width: 300px;
     height: 600px;
     top: 28px ;
    }
    .nav button {
    position: absolute;
    width: 150px;
    height: 24px;
    left: 180px;
    top: 24px;
    color: black; 
    background-color:white ;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.0954201);
    border-radius: 24px;
    border: 1px none ;
    }
    .subsection1 {
    position: absolute;
    width: 200px;
    height: 10px;
    left: 100px;
    top: 80px;
    display: flex;
    flex-direction: row;
    }
    .title p {
    position: absolute;
    display: flex;
    width:100px;
    font-size: 9px;
    line-height: 20px;
    top:50px;
    height: 20px;
    left:45px;
    color: #00252E;  
    }
    .subsection1 span {
     position: absolute;
    font-size: 12px;
    display: flex;
    top:130px;
    line-height: 10px;
    left:-5px;
    width: 245px;
    }
    .buttons button {
    position: absolute;
    width: 250px;
    height: 50px;
    left: -30px;
    top: 250px;
    background: #FF52C1;
    box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.166185);
    border-radius: 28px;
    color: white;
    border: 1px none;
    }
    .image1 img {
    position: absolute;
    width: 300px;
    height: 300px;
    left:-45px;
    top: 350px; 
    }
    .section2 {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 375px;
    height: 600px;
    left: 30px;
    top: 750px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
    border-radius: 16px;    
    }
    .topic p {
    position: absolute;
    display: flex;
    height: 13px;
    top: 350px;
    width: 200px;
    font-size: 20px;
    line-height: 17px;
    left:100px;
    color: #00252E;
    }
    .submessage span {
    position: absolute;
    display:flex;
    height: 5px;
    top:400px; 
    line-height: 23px;
    font-size: 11px;
    left:40px;
    width:350px;
    color:#808E9A;
    }
    
    .image2 img {
    position: absolute;
    height: 300px;
    font-weight: 300;
    line-height: 40px;
    width: 300px;
    top: 10px;
    left: 50px;
    }
    .section3 {
        
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 375px;
    height:488px;
    justify-content: space-evenly;
    top:1400px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
    border-radius: 16px;
    left:30px;
    }
    .image3 img {
    position: absolute;
    left: 50px;
    top:50px;
    width:300px;
    height:250px;
    }
    .title1 p {
    position: absolute;
    line-height: 7px;
    font-size:15px;
    left: 100px;
    top:300px; ;
    height: 5px;
    font-weight: 600;
    color: #00252E;
    
    
    }
    .section3 span {
    position: absolute;
    top:350px;
    font-weight: 10;
    font-size: 15px;
    line-height: 25px;
    color: #808E9A;
    left:35px;
    }
    .section4 {
     position: absolute;
    width: 375px;
    height: 488px;
    left: 35px;
    top: 1900px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
    border-radius: 16px;
    }
    .title2 p {
    position: absolute;
    height: 42px;
    left: 110px;
    top:200px;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #00252E;
        
    }
    .section4 span{
    position: absolute;
    height: 81px;
    left: 100px;
    font-weight: 10;
    font-size: 10px;
    line-height: 20px;
    top:300px;
    color: #808E9A;
    width: 40%;
    
    }
    .image4 img {
    position: absolute;
    width: 300px;
    height: 170.9px;
    left: 50px;
    top:20px;
    background: url(Image.png);
    
    }
    .section5 {
    position: absolute;
    width: 352px;
    height: 176px;
    left:2.5px;
    top:2450px;
    background-color:white;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.0710768);
    border-radius: 15px;
         
    }
    .section5 p{
    position: absolute;
    height: 60px;
    left: 43px;
    right: 15.88%;
    font-weight: 600;
    font-size: 18px;
    line-height: 60px;
    color: #00252E;
    
    }
    .section5 button {
    position: absolute;
    left: 50px;
    top: 100px;
    background: #FF52C1;
    box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
    border-radius: 40px;
    width: 200px;
    height: 50px;
    border: 2px none;
    color:white;
    }
    
    .section6 {  
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    height: 785px;
    left: -15px;
    top: 2550px;
    background: #00252E;
    z-index: -1;
    }
    
    .footercontent {
    position: absolute;
    display: flex;
    width: 250px;
    height: 400px;
    top:150px;
    
    }
    .huddle img {
    position: absolute;
    width: 100px;
    height: 25px;
    left: -25px;
    
    }
    .huddle p {
    position: absolute;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    top: 35px; 
    color: #FFFFFF;
    }
    .location {
    position: absolute;
    width: 24px;
    height: 23.54px;
    left: 0px;
    top: 47px;
    left: -25px;
    }
    .contact p {
    position: absolute;
    width: auto ;
    height:20px ;
    top:100px;
    color:#FFFFFF;
    }
    .phoneicon img {
    position: absolute;
    width: 24px;
    height: 23.54px;
    top: 110px;
    left: -25px;
    }
    .email span {
    position: absolute;
    width: 24px;
    height: 18px;
    top: 150px;
    color:white;  
    }
    .email img {
    position: absolute;
    width: 20px;
    height: 18px;
    left: 0px;
    top: 150px;
    left: -25px;
    }
    .info {
    position: absolute;
    display: flex;
    flex-direction:column;
    left: -25px;
    justify-content: space-evenly;
    color: #FFFFFF;
    top:180px;
    }
    .info span {
     top:-10px;
    }
    .message {
    position: absolute;
    display: flex;
    flex-direction:column;
    left: -25px;
    justify-content: space-evenly;
    color: #FFFFFF;
    top:300px;  
    }
    .copyright {
    position: absolute;
    height: 80px;
    top: 590px;
    left:50px;
    font-size: 8px;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    
    }
    .socialicons  {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 550px;
    left: 80px;
    justify-content: space-between;
    background: #00252E;
    }
    .facebook img {
    height: 30px;
    width: 30px;
    border-radius:50%;
    left: 80px;
    display: flex;
    align-items:center;
    border: 1px solid white;
    background: #FFFFFF;
    
    }
    .instagram img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    left: 110px;
    display: flex;
    align-items: center;
    color: #fff;
    border: 1px solid white;
    background: #FFFFFF;
    
    }
    .twitter img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    left: 120px;
    display: flex;
    color: #fff;
    align-items: center;
    border: 1px solid white;
    background: #FFFFFF;
    
    }  
}


